* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 229, 229);

}

.places-list {

    margin-inline: auto;
    width: 300px;

}


li {
    padding: 5px 5px;
    
}

li :nth-child(1) {
    margin-left: 10px;

}





li:hover {
    background-color: lightgray;
}

.map {
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    transition: 10s;
    border: 1px solid lightgray;
}

button {
    cursor: pointer;
}

button img {
    display: flex;
    width: 2em;

    
    }

   
    
    h1 {
        position: relative;
        content: '';
        background-color: pink;
    }
    
    h1::before {
        position: absolute;
        content: 'click on the map your desired destination';
        width: 100px;
        background-color: pink;
        left: 3%;
        padding: 3px 6px;
        opacity: 0;
        transition: 2s;
        top: -0.5em;
    
    }
    
    h1:hover::before {
    
        opacity: 1;
    }
    